body {
  font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
  font-size 62.5%;
  background: #3a3a3a;
}

.wrapper {
  margin: 200px auto;
  width: 500px;
  border: 1px solid #d8d8d8;
  background-color: #f2f2f2;
  border-radius: 5px;
}

h1 {
  margin-left: 25px;
}

h3 {
  padding-left: 25px;
  margin-bottom: 0;
}

p {
  padding-left: 25px;
  margin: 3px 0;
  font-style: italic;
}

a {
  color: #008cba;
}

form {
  margin: 0 25px 25px 25px;
}

.add-token, .remove-token {
  display: none;
}

.mock-token {
  display: inline;
  width: 350px;
}

.mock-token:before {
  content: "****************************************************************************";
  border: 1px solid #345;
  font-size: 1em;
  padding: 4px;
  padding-top: 5px;
  color: white;
  line-height: 1em;
  height: 1em;
  background: #bcd;
}

input {
  padding: 5px;
  border: 1px solid #456;
  width: 350px;
  margin-top: 5px;
}
input.weekend {
  width: 350px;
}

button {
  background: #008cba;
  color: #fff;
  padding: 5px;
  border: 1px solid #008cba;
  cursor: pointer;
}

.help {
  font-size: 11px;
  margin-bottom: 15px;
  margin-left:25px;
}